@import 'variables';
h1{
    color: $green-color;
}
h2{
    color: green;
}
.card-course{
    margin-top: 16px;
}
.avatar-user{
    border-radius: 50%;
    height: 2em;
    object-fit: cover;
    width: 2em;
    margin-right: 4px;
}